---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ContactForm from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Contact Us - Sassify">
  <Header />
  <main>
    <HeroSection 
      title="About Us" 
      description="Welcome to Park Place Condominiums — where urban convenience meets tranquil living. Nestled in a beautifully landscaped setting, Park Place offers modern, well-appointed residences surrounded by lush greenery, walking paths, and community amenities. Whether you're enjoying peaceful mornings under the trees or quick access to the city’s best shopping and dining, Park Place is the perfect place to call home."
    />
    <ContactForm />
  </main>
  <Footer />
</Layout> 
